langchain-chroma
langchain-text-splitters
langchain-huggingface
langchain-community
langchain-groq
sentence-transformers
langchain
langgraph
yfinance
fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic
pypdf