langchain-chroma
langchain-text-splitters
langchain-huggingface
langchain-community
langchain-groq
sentence-transformers
llama-index 
llama-index-embeddings-huggingface
langchain
langgraph
yfinance
fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic
pypdf